<%provide(:title,"主页")%>

<h1> 直播网 </h1>

  <%= link_to image_tag("football.png", alt: "football"),'#' %>
  <%= link_to image_tag("basketball.png", alt: "basketball"),'#' %>
  <%= link_to image_tag("sc.png", alt: "sc"),'#' %>
  <%= link_to image_tag("dota.png", alt: "dota"),'#' %>
  <%= link_to image_tag("lol.png", alt: "lol"),'#' %>